{% load static %}
{% static "images" as baseUrl %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/favicon.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/opensans-font.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/roboto-font.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <title>checkout</title>
   <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
</script>
</head>

<section class="container">
    {% for item in cart %}
        <div class="row p-1 border border-left-0 border-right-0 border-bottom-0 ">
            <div class="col-sm-6 ">
                <div class="row ">
                    <div class="col-sm-4 p-2 border"><img src="{{item.cloth_menu.image.url}}" width="100%"></div>
                    <div class="col-sm-8 p-2">
                        <div class="col-sm"><h3 class="p-0 m-0">{{item.cloth_menu.name}}</h3></div>
                        <button class="col-sm btn btn-link border border-0 text-left" id="overlaytag{{forloop.counter}}" style="background:none;" ><h6 class="p-0 m-0">&nbsp;show custom details</h6></button>
                        <!--    expand item summary      -->
                        <div id="overlay{{forloop.counter}}"  style="position:fixed;display:none;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2;cursor:pointer;">
                            <div class="container w-75 row bg-light mx-auto text-center p-5 rounded" style="margin-top:200px;opacity:0.99">
                                <div class="col-sm-4">
                                    {% if item.collar is not None %}
                                        <h6>Collar:<span style="font-weight: normal;"> {{item.collar}} </span></h6>
                                    {% else %}
                                        <h6>Collar:<span style="font-weight: normal;"> {{item.cloth_menu.collar}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    {% if item.cuff is not None %}
                                        <h6>Cuff:<span style="font-weight: normal;"> {{item.cuff}} </span></h6>
                                    {% else %}
                                        <h6>Cuff:<span style="font-weight: normal;"> {{item.cloth_menu.cuff}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    {% if item.back is not None %}
                                        <h6>Back:<span style="font-weight: normal;"> {{item.back}} </span></h6>
                                    {% else %}
                                        <h6>Back:<span style="font-weight: normal;"> {{item.cloth_menu.back}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    {% if item.button is not None %}
                                        <h6>button:<span style="font-weight: normal;"> {{item.button}} </span></h6>
                                    {% else %}
                                        <h6>button:<span style="font-weight: normal;"> {{item.cloth_menu.button}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    {% if item.button_hole is not None %}
                                        <h6>button_hole:<span style="font-weight: normal;"> {{item.button_hole}} </span></h6>
                                    {% else %}
                                        <h6>button_hole:<span style="font-weight: normal;"> {{item.cloth_menu.button_hole}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    {% if item.pocket is not None %}
                                        <h6>pocket:<span style="font-weight: normal;"> {{item.pocket}} </span></h6>
                                    {% else %}
                                        <h6>pocket:<span style="font-weight: normal;"> {{item.cloth_menu.pocket}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    {% if item.front is not None %}
                                        <h6>front:<span style="font-weight: normal;"> {{item.front}} </span></h6>
                                    {% else %}
                                        <h6>front:<span style="font-weight: normal;"> {{item.cloth_menu.front}} </span>(Default)</h6>
                                    {% endif %}
                                </div>
                                {% if item.size is not None %}
                                    <div class="col-sm-4">
                                        <h6>size:<span style="font-weight: normal;"> {{item.size}} </span></h6>
                                </div>
                                {% endif %}
                                {% if item.size is None %}
                                    {% if item.shirtfit is not None %}
                                        <div class="col-sm-4">
                                            <h6>shirtfit:<span style="font-weight: normal;"> {{item.shirtfit}} </span></h6>
                                    </div>
                                    {% endif %}
                                    {% if item.standard_size is not None %}
                                        <div class="col-sm-4">
                                            <h6>standard_size:<span style="font-weight: normal;"> {{item.standard_size}} </span></h6>
                                        </div>
                                    {% else %}
                                         <div class="col-sm-4">
                                            <h6>standard_size:<span style="font-weight: normal;"> {{item.cloth_menu.standard_size}} </span>(Default)</h6>
                                         </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm">
                            <h6>Color :
                                <span style="font-weight: normal;"> {{item.cloth_menu.color}} </span> | Measurement : <span style="font-weight: normal;">
                                    {% if item.standard_size is not None %}
                                            {{item.standard_size}}
                                    {% endif %}
                                    {% if item.size is not None %}
                                            {{item.size.profile_name}}
                                    {% endif %}
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6 text-center m-auto">
               <h4>QTY: {{item.quantity}}</h4>
            </div>
            <div class="col-sm-2 col-6 text-md-center text-left m-auto"><h4>₹&nbsp;{{item.subtotal}}</h4></div>
        </div>
    {% empty %}
        <p class="mx-auto text-center">Sorry, no item in cart.</p>
    {% endfor %}
    <div class="row m-2 w-100 border border-bottom-0 border-left-0 border-right-0">
        <div class="col-sm-10 col-6 text-md-right text-sm-center "><h4>Grand Total</h4></div>
        <div class="col-sm-2 col-6 text-md-left text-sm-center pl-lg-4 pl-md-2"><h4>₹&nbsp;{{gt}}</h4></div>
    </div>
</section>

<script>
var arr = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ];
$.each( arr, function( index, value ){

    $(document).ready(function() {
        $("#overlaytag"+value).click(function() {
            $("#overlay"+value).css({"display":"block"});
        });

    });
    $(document).ready(function() {
        $("#overlay"+value).click(function() {
            $("#overlay"+value).css({"display":"none"});
        });

    });
});


</script>