{% load crispy_forms_tags %}
{% load static %}
{% static "images" as baseUrl %}
    <form method="POST" action="/order/checkout/shipping/" class="post-form bg-light rounded">{% csrf_token %}
        <div class="row w-100 m-auto">
            <div class="col-sm-8 mx-auto ">{{ shippingdetail.address|as_crispy_field  }}</div>
            <div class="col-sm-4 mx-auto ">{{ shippingdetail.phone|as_crispy_field  }}</div>
            <input type="submit" class="col-3 save btn btn-sm mx-auto bg-success m-2"/>
        </div>
    </form>