{% block custum_summary %}
  <div class="summary row mb-5" style="margin-top:10px;">

                    {% if summary.cloth_menu or summary.collar or summary.cuff or summary.back or summary.front or summary.pocket or summary.button or summary.buttonhole or summary.size or summary.standard_size or summary.shirtfit%}
                        <div class="text-center mx-auto container mb-3">
                            <p style="font-size:2vw;color:black;" class="font-weight-bold">CUSTOMIZATION SUMMARY</p>
                        </div>
                    {% endif %}
                    {% if summary.cloth_menu  %}

                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.cloth_menu.image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Fabric : {{summary.cloth_menu.name}}</h6>
                    </div>
                    {% endif %}
                    {% if summary.collar %}
                         <div class="col-sm-3 p-1 text-center">
                             <img src="{{summary.collar.collar_image.url}}" style="width:15px;height:15px;display: inline;">
                             <h6 style="display: inline" class="align-middle"> Collar : {{summary.collar.collar_style}} {{defaultcollar}}</h6>
                         </div>
                    {% endif %}
                    {% if summary.cuff %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.cuff.cuff_image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Cuff : {{summary.cuff.cuff_style}} {{defaultcuff}}</h6>
                    </div>
                    {% endif %}
                    {% if summary.back %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.back.back_image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Back : {{summary.back.back_style}} {{defaultback}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.button %}
                    <div class="col-sm-3  p-1 text-center">
                        <img src="{{summary.button.button_image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Button : {{summary.button.button_style}} {{defaultbutton}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.button_hole %}
                    <div class="col-sm-3  p-1 text-center">
                        <img src="{{summary.button_hole.button_hole_image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle">Button Hole : {{summary.button_hole.button_hole_style}} {{defaultbutton_hole}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.pocket %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.pocket.pocket_image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Pocket : {{summary.pocket.pocket_style}} {{defaultpocket}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.front %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.front.front_image.url}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Front : {{summary.front.front_style}} {{defaultfront}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.size %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.size}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Size : {{summary.size.profile_name}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.standard_size %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.standard_size.standard_size_style}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> Standard size : {{summary.standard_size.standard_size_style}}</h6>

                    </div>
                    {% endif %}
                    {% if summary.shirtfit %}
                    <div class="col-sm-3 p-1 text-center">
                        <img src="{{summary.shirtfit.shirt_fit_style}}" style="width:15px;height:15px;display: inline;">
                        <h6 style="display: inline" class="align-middle"> ShirtFit : {{summary.shirtfit.shirt_fit_style}}</h6>

                    </div>
                    {% endif %}

                </div>
{% endblock%}