{% load static %}
{% static "images" as baseUrl %}
{% block details %}
<section>
    <div class="container">
        <!-- selection categories nav pills-->
                <ul class="nav nav-pills justify-content-center p-1 pt-2">
                  <li class="nav-item col-3 col-xs-6 p-0 text-center">
                      <a class="nav-link {{DEBUTTON}} p-1 m-0"   href="/selection/select/MDETAILS/DEBUTTON/" >
                         <p style="font-size: 11px; display: inline;">BUTTON </p>
                         <img src="https://img.icons8.com/android/10/000000/down.png"></a></li>
                  <li class="nav-item col-3 col-xs-6 p-0 text-center">
                      <a class="nav-link {{DEBUTTONHOLE}} p-1 m-0 "   href="/selection/select/MDETAILS/DEBUTTONHOLE/">
                          <p style="font-size: 11px; display: inline;">BUTTONHOLE </p>
                          <img src="https://img.icons8.com/android/10/000000/down.png"></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!--tab 1 - button-->
                      <div class="tab-pane  fade {{DEBUTTON}}" id="BUTTON">
                        {% include 'button.html' %}

                      </div>
                    <!--tab 2 - buttinhole-->
                      <div class="tab-pane  fade {{DEBUTTONHOLE}}" id="BUTTONHOLE">

                        {% include 'buttonhole.html' %}

                      </div>

                </div>
    </div>
    <div>
        {% include 'custom_summary.html' %}
    </div>
</section>
{% endblock %}