{% extends 'com.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
    <!-- banner part start-->
{% include 'navbar.html' %}
   <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-md-6">
                    <div class="banner_text">
                        <div class="banner_text_iner text-center">
                            <h2>Think <span>Creative Turn</span> </h2>
                            <h3>Ideas Into Life</h3>
                            <a href="#" class="btn_1">learn more <i class="ti-angle-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="banner_bg">
                        <img src="{% static 'img/changed.png'%}" alt="banner">
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-app-1 custom-animation"><img src="{% static 'img/animate_icon/icon_1.png'%}" alt=""></div>
        <div class="hero-app-5 custom-animation2"><img src="{% static 'img/animate_icon/icon_3.png'%}" alt=""></div>
        <div class="hero-app-7 custom-animation3"><img src="{% static 'img/animate_icon/icon_2.png'%}" alt=""></div>
        <div class="hero-app-8 custom-animation"><img src="{% static 'img/animate_icon/icon_4.png'%}" alt=""></div>
    </section>
    <!-- banner part start-->

    <!-- cta part start-->
    <section class="cta_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="cta_part_iner">
                        <div class="cta_part_text">
                            <p> Our Features</p>
                            <h1>Designing Clothes of Your CHOICE</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta part end-->

    <!-- service_part part start-->
    <section class="service_part section_bg_2 section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_part_iner">
                            <span class="ti-mobile"></span>
                            <h3>Custom Design</h3>
                            <p>Allows you to design your stylish wear by your own Choice/Design using a user friendly environment. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_part_iner">
                            <span class="ti-layers"></span>
                            <h3>Quality Matters</h3>
                            <p>Ouality is our main focus. We prvoide 100% better quality on all the materials choosen by you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_part_iner">
                            <span class="ti-lock"></span>
                            <h3>Better Security</h3>
                            <p>We provide a great security on your information and can be accessible from anywhere in the world. </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_part_iner">
                            <span class="ti-headphone"></span>
                            <h3>24/7 Service</h3>
                            <p> High satisfaction, provides 24/7 services with better quality of clothes that is of your own Choice.  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service_part part end-->

    <!-- about part start-->
    <section class="about_part">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img src="{% static 'img/about_img_1.png'%}" class="img_1" alt="">
                        <img src="{% static 'img/about_img_2.png'%}" class="img_2" alt="">
                        <h2>25 Years Working <br>
                            Experience</h2>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-4">
                    <div class="about_text">
                        <h5>About our company</h5>
                        <h2>24 Stitches and 7 Weaves</h2>

                        <p>Most men have great difficulty in fitting into the typical standard sizes. While a good shirting brand does provide quality, the size is not always appropriate, for example, either the sleeves land up being too long or the shirt flares up like a balloon when you tuck it in. This is because, these shirts are made for the standard body types, thus, fitting the most of us terribly. On the other hand, your family tailor would very well understand your fit, body type but the hassle of explaining to him what you exactly want and the multiple trials tire you down.

                         </p>
                        <h4>Personal interest towards designing our own styles and with the aspire to fulfill the requirements of customers, 24 stitches & 7 weaves was born.</h4>
                        <a href="#" class="btn_1">learn more <i class="ti-angle-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-app-7 custom-animation"><img src="{% static 'img/animate_icon/icon_7.png'%}" alt=""></div>
        <div class="hero-app-8 custom-animation2"><img src="{% static 'img/animate_icon/icon_4.png'%}" alt=""></div>
        <div class="hero-app-6 custom-animation3"><img src="{% static 'img/animate_icon/icon_5.png'%}" alt=""></div>
    </section>
    <!-- about part start-->

    <!-- service_part start-->
    <section class="our_latest_work section_padding">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section_tittle text-center">
                        <p>recent work</p>
                        <h2>Creative work for client</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_work">
                        <div class="row align-items-center">
                            <div class="offset-lg-1 col-lg-4 col-md-6">
                                <div class="single_work_demo">
                                    <h5>FABRIC</h5>
                                    <h3>The quality of the fabric is the single most important factor in ensuring a well-made formal shirt</h3>
                                    <p>Fabrics are available in boundless varieties, with equally wide variations in quality. Thus, choosing the right fabric can be an overwhelming process.
                                    To enhance your shopping experience with 16stitches.com and to help you select the perfect fabric for your shirt, we have put together the fabrics manual. This manual will help you know what a fabric feels and looks like without actually touching it.</p>
                                    <a href="project_details.html" class="btn_3">Fabric Guide <span class="flaticon-slim-right"></span> </a>
                                </div>
                            </div>
                            <div class="offset-lg-1 col-lg-6 col-md-6">
                                <div class="demo_img">
                                    <img src="{% static 'img/f2.jpg'%}" alt="demo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_work">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="demo_img">
                                    <img src="{% static 'img/style_1.jpg'%}" alt="demo">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single_work_demo">
                                    <h5>STYLE</h5>
                                    <h3>It’s best to experiment with the various styles available and see what bests suits your personal style.</h3>
                                    <p>A lot of detailing goes into making a good shirt, right from the collar to the cuffs, to the cut of the torso. That has been put in this website to help you know about the different types of styling options available at 24 Stitches and 7 Weaves to design the perfect shirt for yourself.  </p>
                                    <a href="project_details.html" class="btn_3">Style Guide <span class="flaticon-slim-right"></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_work">
                        <div class="row align-items-center">
                            <div class="offset-lg-1 col-lg-4 col-md-6">
                                <div class="single_work_demo">
                                    <h5>SIZE</h5>
                                    <h3>Size, posture, and figure determine your clothing size.</h3><p> Get your measurements and then use one of the size charts to find your perfect fit. Be sure to measure without clothes and close to the body.

</p>
                                    <a href="project_details.html" class="btn_3">Size Chart <span class="flaticon-slim-right"></span> </a>
                                </div>
                            </div>
                            <div class="offset-lg-1 col-lg-6 col-md-6">
                                <div class="demo_img">
                                    <img src="{% static 'img/size2.jpg'%}" alt="demo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- upcoming_event part start-->

    <!-- happy_client counter start -->
    <section class="happy_client">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_happy_client">
                        <img src="{% static 'img/icon/cap.svg'%}" alt="cap">
                        <span class="counter">85</span>
                        <h4>Satisfied <br>client</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_happy_client">
                        <img src="{% static 'img/icon/bag.svg'%}" alt="cap">
                        <span class="counter">95</span>
                        <h4> Total<br>project</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_happy_client">
                        <img src="{% static 'img/icon/shirt.svg'%}" alt="cap">
                        <span class="counter">75</span>
                        <h4>work<br>completed</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_happy_client">
                        <img src="{% static 'img/icon/cafe.svg'%}" alt="cap">
                        <span class="counter">95</span>
                        <h4>work<br>completed</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- happy_client counter end -->



    <!-- portfolio_part start-->



    <!-- footer part start-->
{% include 'footer.html' %}
{% endblock %}
<!--sweetify-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{% load sweetify %}
{% sweetify %}
