{% load static %}
{% static "images" as baseUrl %}
{% block size %}
<head>
      <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
</script>

</head>
<div class="container">
    <div class="row text-center mx-auto" >
        <!--        custom measure-->
        <div class="col-sm-12 p-3  mb-3" >
            <h5 id="show_anchor" class="col-sm-3 btn-light mx-auto text-center p-3" >Custom Measurement</h5>
            <div id='manual' class="col-sm-12 ">
                <h2>New measurement</h2>
                <p>* in cms | in kgs *</p>
                {% include 'measurement.html' %}
            </div>
        </div>
        <!--  existing measure      -->
        <div class="col-sm-12 mb-3">
        {% if user.is_authenticated %}
            <h5 id="show_anchor1" class="btn-light mx-auto text-center p-3 col-sm-3" >Existing Measurement</h5>
            <div id='manual1' class="col-sm-12 ">
                 <form action="/selection/select/MSIZE/SIZE/" name="sendform1" method="POST">
                        {% csrf_token %}
                        <div class="form-wrapper  col-sm-3 mx-auto">
                            <select name="profile_select" id="profile_select" class="form-control">
                                <option value=""  disabled selected>Profile Name</option>
                                {% for val in list_of_measure %}
                                <option value="{{val.pk}}">{{val}}</option>
                                {% endfor %}
                            </select>
                        </div>
                 </form>
            </div>
        {% else %}
            <h5 class="btn-light mx-auto text-center p-3 col-sm-3">login to use previously added measurement</h5>
        {% endif %}
        </div>
        <!-- standard measure       -->
        <div class="row mx-auto p-3 btn-light">
            <h6 class="col-sm-12 ">I WANT TO ORDER A STANDARD SIZE.</h6>
            <div class="col-sm-6" >
            <form action="/selection/select/MSIZE/SIZE/" name="senddata1" method="post">
                {% csrf_token %}
                <select name="shirt_fit" id="shirt_fit" class="form-control text-center">
                    <option value=""  disabled selected>SHIRT FIT</option>
                    {% for val in shirtfit %}
                    <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>
            </form>
            </div>
            <div class="col-sm-6" >
            <form action="/selection/select/MSIZE/SIZE/" name="senddata2" method="post">
                {% csrf_token %}
                <select name="Standard_size" id="Standard_size" class="form-control text-center">
                    <option value=""  disabled selected>STANDARD SIZE</option>
                    {% for val in standardsize %}
                    <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        </div>
    </div>
    <br>
    <div>
        {% include 'custom_summary.html' %}
    </div>
</div>
 <script type='text/javascript'>

 $(document).ready(function() {
   $('#shirt_fit').change(function(){
        $('form[name=senddata1]').submit();
   });
  });
$(document).ready(function() {
   $('#Standard_size').change(function(){
        $('form[name=senddata2]').submit();
   });
  });

$(document).ready(function() {
                $("#manual").hide();
   });

 $(document).ready(function() {
            $("#show_anchor").click(function() {
                $("#manual").toggle();
            });

        });

 $(document).ready(function() {
                $("#manual1").hide();
   });

 $(document).ready(function() {
            $("#show_anchor1").click(function() {
                $("#manual1").toggle();
            });

        });

  $(document).ready(function() {
   $('#profile_select').change(function(){
        $('form[name=sendform1]').submit();
   });
  });

</script>
{% endblock %}
